<div>
	<div class="alert alert-success" *ngIf="erroStatus">
		<p>{{errMsg | uppercase}}</p>
	</div>
	<form #forgotPassword = "ngForm" (ngSubmit)="forgot(forgotPassword.value);forgotPassword.reset()" ngNativeValidate>
		<div class="form-group">
			<input type="email" name="email" placeholder="Enter your email"  class="form-control input-lg" ngModel>
		</div>
		<div class="form-group">
		<button type="submit" class="btn form-control input-lg  mybtn btnSendPass">Send Password</button>
	    </div>
		<div class="forgottext">
		<p><a routerLink = '/traders'>Please Login</a></p>
		</div>
	</form>
</div>