
<!-- <div class="row head">
		<div class="logo col-sm-6">
			<div class="col-sm-6 text-center">
		 <a routerLink="/"> <img class="img-responsive" src="images/logo.svg" alt="logo"/></a>
		  <i class="fa fa-bars toggle-btn" aria-hidden="true" (click)="test()"></i>
		</div>
	</div>
	
		<div class="col-sm-6">

			<div class="lgbtn text-right">
				<h4 id="username"><i class="fa fa-user-circle" aria-hidden="true"></i>  {{currentUser.name}}</h4>
				<h4 (click)="logout()" id="btn_logout"><i class="fa fa-power-off" aria-hidden="true"></i>  Logout</h4>
			</div>
		</div>

</div> -->