/node_modules
/public/hot
/public/js
/public/js2
/public/hot
/public/storage/node_modules
/public/storage
/public/css
/public/error_log
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
=======
.env
/dist
