<div class="row">
  <div class="col-sm-8 form-content" #content>
    <div class="page" id="content">   
      <!-- step-6 -->
      <div class="pdf_content step_6" id="step_6" style="height: 840px; position: relative;overflow: hidden;">
        <div class="jumbotron topBar" style="background-color: #1e1e1e;
      text-align: right;
      border-radius: 0;
      margin-bottom: 0px;
      padding: 20px 40px 5px 40px;
      margin-top: 2px;">
          <img src="images/logo.svg" style="max-height: 45px;">
        </div>
        <hr class="bottomBar" style="padding: 5px !important;">
        <div class="content">
          <div class="head">
            <div class="headings">
              <h2 class="step-head">
                  About Trader
                 </h2>
            </div>
          </div>
          <div class="text-left" [innerHTML]="step_6_data.step_6_heading_1_content"></div>
          <div class="step_6_bottom_images">
            <div class="bottom_image" *ngFor="let image of step_6_images" style="float: left;
              margin-left: 1px;
              margin-bottom: 16px;">
              <img [src]="image" alt="image" />
            </div>
          </div>
        </div>
        <div class="step-footer" style=" position: absolute;
     bottom: 30px;
     width: 100%;">
          <hr class="bottomBar" style="margin: 0;
      background-color: #c5e74e;
      padding: 4px;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 form-sidebar">
    <!-- step-6 -sidebar -->
    <div class="aside-section">
      <aside>
        <h4 class="text-left">Step-6</h4>
        <button type="submit" routerLink="../step-5" class="btn btn-default customButton">Prev</button>
        <button type="submit" (click)="nextstep()" class="btn btn-default customButton">Next</button>
        <!-- <button type="button" class="btn btn-success" (click)="print()">Print PDF</button> -->
      </aside>
    </div>
  </div>
</div>