
form.builder-select {
    margin: 55px 5px;
}

select {
    margin: 13px 0 25px;
}
/*.head{
        display: table;
    min-height: 120px;
    margin-top: 20px;
}
.headings {
    display: table-cell;
    vertical-align: middle;
}*/
.step-head{
   font-size: 40px;
}
.topBar {
    background-color: #1e1e1e;
    text-align: right;
    border-radius: 0;
    margin-bottom: 0px;
    padding: 20px 10px;
    margin-top: 2px;
}

.footBar {
    background-color: #1e1e1e;
    border-radius: 0;
    margin-bottom: 0px;
    padding-top: 0;
}

.bottomBar {
    margin: 0;
    background-color: #c5e74e;
    padding: 5px;
}

.customButton {
    background-color: #1e1e1e;
    color: #fff;
}
.foot-titile {
    padding-top: 10px;
}
.step-head,
.foot-titile {
    color: #91ad32;
}
.step_6_bottom_images{
    position: absolute;
    bottom: 30px;
}
.bottom_image{
    float:left;
    margin-left: 15px;
}
.bottom_image img {
    width: 170px;
}
/*.pdf_contact{
    position: relative;
    min-height: 842px;
}*/

/*.step-footer {
   position: absolute;
   bottom: 0;
   width: 100%;
} */
.content {
     padding-left: 45px;
    padding-right: 45px;
}

.partner {
    margin-top: 20px;
}
.step-logo img {
    width: 200px;
}
.step-logo,
.date {
    padding: 15px 0;
    margin-bottom: 15px;
}

.sidebar {
    background-color: #d8d6d6;
}
.main-content,
.sidebar
{
    min-height: 842px;
}