<div class="build">
    <h1>Registeration Form</h1>
    <div class="alert alert-success" *ngIf="erroStatus">
        <p>{{errMsg | uppercase}}</p>
    </div>
    <form role="form" #registerForm = "ngForm" (ngSubmit)="register(registerForm.value);registerForm.reset()" ngNativeValidate>
        <div class="form-content">
            <div class="form-group">
                <input type="text" class="form-control  input-lg" id="" placeholder="Full Name" name="name" required ngModel>
            </div>
            <div class="form-group">
                <input type="email" class="form-control  input-lg" id="" placeholder="Enter Email address" name="email" required ngModel>
            </div>
            <div class="form-group">
                <input type="password" class="form-control  input-lg" id="" placeholder="Enter password" name="password" required ngModel>
            </div>
            <div class="form-group">
                <select class="form-control input-lg" name="role" ngModel required>
                    <option value= 1 selected="selected">Admin</option>
                    <option value= 2>User</option>
                </select>
            </div>
             <div class="form-group">
            <button type="submit" class="form-control input-lg btn mybtn">SignUp</button>
            </div>  
        
          <div class="forgottext">  
             <p> Already Have an Account <a routerLink = '../'>Login</a></p>
          </div>
          </div>
    </form>
</div>
