.step_1 .topBar {
    background-color: #1e1e1e !important;
    text-align: right !important;
    border-radius: 0 !important;
    margin-bottom: 0px !important;
    padding: 20px 10px !important;
    margin-top: 2px !important;
}