<!-- breacrum -->
<div class="breadcrum"><a routerLink="../"><i class="fa fa-user-plus" aria-hidden="true"></i> <strong>Builders</strong></a>&nbsp; - &nbsp;  Builder information</div>
<div class="page_content nps">
	<!-- <button type="button" class="btn btn-primary mybtn" routerLink="../">Back</button>	 -->
	<ul class="nav nav-tabs tabs_navigation	">
		<li class="active">
			<a href="#details" data-toggle="tab">Details</a>
		</li>
		<li>
			<a href="#address" data-toggle="tab">Address</a>
		</li>
		<li>
			<a href="#contact" data-toggle="tab">Contacts</a>
		</li>
	</ul>
	<div class="tab-content">

		<div class="tab-pane fade in active" id="details">
			<div id="details_tab">
				<div>
					<div class="row">
						<div class="col-sm-6">
							<ul class="list-group">
								<li class="list-group-item"><h4>Customer Code: <span>{{client?.client_code}}</span></h4></li>
								<li class="list-group-item"><h4>Customer Name: <span>{{client?.client_name}}</span></h4></li>
								<li class="list-group-item"><h4>Salesperson: <span>{{client?.sales_person}}</span></h4></li>
								<li class="list-group-item"><h4>Default Delivery Address: <span>{{client?.default_delivery_address}}</span></h4></li>
								<li class="list-group-item"><h4>Notes: <span>{{client?.client_notes}}</span></h4></li>

							</ul>
						</div>
						<div class="col-sm-6">
							<img [src]="client?.client_logo" class="img-thumbnail builder_logo" alt="Cinque Terre">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="address">
			<div id="address_tab">
				<div>
					<div class="row">
						<div class="col-sm-6">
							<h3>Postal Address</h3>
							<ul class="list-group">
								<li class="list-group-item"><h4>Street Name: <span>{{client?.client_address.postal_address_name}}</span></h4></li>
								<li class="list-group-item"><h4>Address Line 1: <span>{{client?.client_address.postal_address_line_1}}</span></h4></li>
								<li class="list-group-item"><h4>Address line 2: <span>{{client?.client_address.postal_address_line_2}}</span></h4></li>
								<li class="list-group-item"><h4>Suburb: <span>{{client?.client_address.postal_country}}</span></h4></li>
								<li class="list-group-item"><h4>Town/City: <span>{{client?.client_address.postal_postal_code}}</span></h4></li>
								<li class="list-group-item"><h4>State/Region: <span>{{client?.client_address.postal_state_region}}</span></h4></li>
								<li class="list-group-item"><h4>Postal Code: <span>{{client?.client_address.postal_suburb}}</span></h4></li>
								<li class="list-group-item"><h4>Country: <span>{{client?.client_address.postal_town_city}}</span></h4></li>
							</ul>
						</div>
						<div class="col-sm-6">
							<h3>Physical Address</h3>
							<ul class="list-group">
								<li class="list-group-item"><h4>Street Name: <span>{{client?.client_address.physical_address_name}}</span></h4></li>
								<li class="list-group-item"><h4>Address Line 1: <span>{{client?.client_address.physical_address_line_1}}</span></h4></li>
								<li class="list-group-item"><h4>Address line 2: <span>{{client?.client_address.physical_address_line_2}}</span></h4></li>
								<li class="list-group-item"><h4>Suburb: <span>{{client?.client_address.physical_country}}</span></h4></li>
								<li class="list-group-item"><h4>Town/City: <span>{{client?.client_address.physical_postal_code}}</span></h4></li>
								<li class="list-group-item"><h4>State/Region: <span>{{client?.client_address.physical_state_region}}</span></h4></li>
								<li class="list-group-item"><h4>Postal Code: <span>{{client?.client_address.physical_suburb}}</span></h4></li>
								<li class="list-group-item"><h4>Country: <span>{{client?.client_address.physical_town_city}}</span></h4></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="contact">
			<div id="contacts_tab">
				<div>
					<div class="row" *ngFor="let contact of contacts index as i">
						<h4>Contact-{{i+1}} &nbsp; <strong *ngIf="contact.primary_contact ==1">(Primary)</strong></h4>
						<div class="col-sm-6">
							<ul class="list-group">
								<li class="list-group-item"><h4>First Name: <span>{{contact?.first_name}}</span></h4></li>
								<li class="list-group-item"><h4>Last Name: <span>{{contact?.last_name}}</span></h4></li>
								<li class="list-group-item"><h4>Email: <span>{{contact?.email}}</span></h4></li>
								<li class="list-group-item"><h4>Website: <span>{{contact?.website}}</span></h4></li>
								<li class="list-group-item"><h4>Toll Free No.: <span>{{contact?.toll_free_no}}</span></h4></li>
								<li class="list-group-item"><h4>Phone: <span>{{contact?.phone}}</span></h4></li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul class="list-group">
								<li class="list-group-item"><h4>Fax: <span>{{contact?.fax}}</span></h4></li>
								<li class="list-group-item"><h4>Mobile: <span>{{contact?.mobile}}</span></h4></li>
								<li class="list-group-item"><h4>DDI: <span>{{contact?.ddi}}</span></h4></li>
								<li class="list-group-item">
									<h4>Invoicing:
										<span *ngIf="contact?.invoicing ==1">Yes</span>
										<span *ngIf="contact?.invoicing ==0">No</span>
									</h4>
								</li>
								<li class="list-group-item">
									<h4>Shipping:
										<span *ngIf="contact?.shipping ==1">Yes</span>
										<span *ngIf="contact?.shipping ==0">No</span>
									</h4>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
