.mybtn{
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    color: #fff;
}
.forgottext {
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
}
.forgottext a{
    color: #fff;
}
.my_error{
	padding: 5px 0 0 5px;
    font-weight: 600;
}
.ng-dirty .ng-invalid{
	border-color: red;
}
.ng-valid {
	border-color: green;
}