
.head{
  background-color: #1e1e1e;
  color: #fff;
  max-height: 85px;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 9999;
}

.logo{
  padding-bottom: 5px;
}


.lgbtn{
  margin-top: 25px;
  padding: 5px;
  padding-right: 20px;
}
.lgbtn p {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
}

#btn_logout{
  cursor: pointer;;
}

.toggle-btn{
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.sidebar{
   background-color: #c5e74e ;
     color: #1e1e1e;   
     min-height:100%;
    position: fixed;
    top:79px;
    left: 0;   
    max-width: 200px;
    min-width: 200px; 
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    z-index: 99999;
}
 .wrapper{
  position: relative;
  min-height: 100vh;
 }
 
li{
    list-style-type:  none;
    padding-top: 10px;
    cursor: pointer;
}
.mainmenu {
   padding: 0px 3px;
}

.mainmenu > li {
  padding: 10px 10px;
} 

ul.submenu {
    margin-top: 5px;
    padding-left: 20px;
    overflow: hidden;
    /*transition: all 0.5s ease-out;*/
}
.active {
  color: #d61515 !important;
}
.mainmenu a {
    color: #1e1e1e;
    text-decoration: none;
    font-size: 15px;
  display: block;
}
.main-content{
   margin-left: 200px;
   margin-top: 79px;
   transition: transform .3s ease-in-out,margin .3s ease-in-out;
 }
 
.content{
  margin-left: 0;
}
.sidenav{
 visibility: hidden;
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}



/* Media Queries */


@media (max-width: 767px)
{
.main-content {
    margin-left: 0;
    margin-top: 84px;
}
.sidebar{
  visibility: hidden;
  top: 85px;
}
.sidenav{
  visibility: visible;
}
.logo img {
  width: 120px;
  padding-top: 10px;
}
#username {
    display: block;
    font-size: 18px;
}
#btn_logout{
  font-size: 18px;
}
.toggle-btn{
    margin-top: 25px;
    margin-left: 5px;
}

.lgbtn{

    margin-top: 15px;
}
}


@media  screen and  (max-width: 900px) and (min-width: 768px) 
{
  .toggle-btn {
    margin-left: 70px;
  }
  .lgbtn p {
    margin-left: 0px;
  }
}